/* Placeholder color global */
::-webkit-input-placeholder { color:#f00;font-family:'Windlass'; }
::-moz-placeholder { color:#f00;font-family:'Windlass'; } /* firefox 19+ */
:-ms-input-placeholder { color:#f00;font-family:'Windlass'; } /* ie */
input:-moz-placeholder { color:#f00; font-family:'Windlass';}
/* Placeholder color global end*/



[ng\:cloak],   
[ng-cloak],   
[data-ng-cloak],   
[x-ng-cloak],   
.ng-cloak,   
.x-ng-cloak {  
  display: none !important;  
} 
@font-face {
    font-family: Windlass;
    src: url(../fonts/Windlass.ttf);
}
/*Validation styles end*/
input.ng-pristine{
	border:none !important;
}
input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
.correct-field{
	color:green;
}
/*Validation styles end*/
/*Global font styles*/
body{
	width:100%;
	min-height:100%;
	background:#f7f5ee;
	font-family:'Windlass';
}
.pirate-font{
	font-family: 'Windlass', cursive;
}

body input{
	font-family:'Arial';
}
/*Global font styles*/
.progress{
	cursor:pointer;
}

.marbot10{
	margin-bottom: 10px;
}
.notification{
	border:1px solid #f7f5ee;
	padding:5px;
	border-radius:2px;
}
button.btn-primary{
	background: #ffa84c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTg0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdiMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-8 */
}
.inline-input-height-adjust{
	height:37px;
}
.notification-unread h6{
	font-weight: bold;
}
#nav-main .navbar-brand{
	color:#fff;
	font-family: 'Pirata One', cursive;
	font-family: 'Windlass', cursive;
	font-weight: bold;
	letter-spacing:4px;

}
.map-image{
	width:100%;
	height:100%;
}
.header-solved-date{
	color:#fff;
	font-size:12px;
}
.center-align{
	width:80%;
	margin:0 auto;
}
/*Header and footer styles */
#footer-main .navbar{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
#footer-main li{
	text-align: center;
}
#nav-main li > a,#footer-main li > a{
	color:#fff;
}
#nav-main,#content .orange-bg,.orange-bg,#footer-main footer{
	/*background-color:#ea5a1e;*/
	background-color:#000;
	background: #ffa84c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTg0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdiMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-8 */

}
#footer-main{
	color:#fff;
}
.footer a{
	color:#fff;
}
/*Header and footer styles end*/
/*Social media styles*/
.member-social-media a.member-social-media-icon{
	display:inline-block;
	color:initial;

}
.link{
	cursor: pointer;
	color:#3b5998;
	font-weight: bold;
}
.team-member-info{
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.member-facebook :hover{
	color: #2196f3;
}
.member-twitter :hover{
	color: #00B7FF;
}
.member-google-plus :hover{
	color: orange;
}
/*Social media styles end*/
/*Chat messaging app styles*/
.post-list{
	max-height: 300px;
	overflow-x:hidden;
	overflow-y:auto;
}
.post-text{
	color:#191919;
	font-size: 12px;
}
.post-ts{
	color:#999;
}
.post-submit{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.chat-mobile-overlay{
	position:fixed;
	z-index:50;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#666;
	opacity:0.5;
}
.chat-mobile-container{
	position:fixed;
	z-index: 100;
	right: 0px;
	left:10%;
	top:0px;
}
.chat-mobile-icon{
	position:fixed;
	z-index: 100;
	right: 0px;
	bottom:5%;
	background-color:#2196f3;
	border:1px solid black;
	border-radius:4px;
	padding: 5px;
	margin-right:15px;
}
.chat-mobile-icon .fa-comments{
	color:#fff;
}
.chat-mobile-container-open{
	width:initial;
}
.chat-mobile-container-closed{
	width:0px;
}
/*Chat messaging app styles end*/
#labelpassCodeStep4{
	margin-top: 5px;
}

/*Animations*/

/* when hiding the thing */
.chat-mobile-container.ng-hide-add         { 
  -webkit-animation:0.5s lightSpeedOut ease; 
  animation:0.5s lightSpeedOut ease; 
}

/* when showing the thing */
.chat-mobile-container.ng-hide-remove      { 
  -webkit-animation:0.5s lightSpeedIn ease; 
  animation:0.5s lightSpeedIn ease; 
}



/* light speed out */
@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}


@keyframes lightSpeedIn {
  0% {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

/**Landign page styles*/
/* when hiding the thing */
.clue-content.ng-hide-add         { 
  -webkit-animation:1s flipOutX  ease; 
  animation:1s flipOutX  ease; 
}

/* when showing the thing */
.clue-content.ng-hide-remove      { 
  -webkit-animation:1s flipInX  ease; 
  animation:1s flipInX  ease; 
}

/**Landign page styles end*/

/*Registraion page styles*/

.active-eye-icon{
	color:#2196f3;
}
/*Registration page styles end*/

@media (max-width: 767px) {
	
	#nav-main .navbar-brand{
		display:block;
		width:100%;
		text-align: center;
		font-size: 40px;
		letter-spacing:4px;
		
	}
	#nav-main .nav-item{
		box-sizing:border-box;
		width:33.33%;
		float:left;
		display:block;
	}
  .member-name h4{
  	margin-top:0px;
  	margin-bottom:0px;
  	font-size: 16px;
  }
  .center-align{
	width:80%;
	margin:0 auto;
	padding-left:25px;
}
}