<!--Clues section-->
<div id="clues-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-warning">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clues-progress">
                    <h4>Your teams last solved clue was <span class="last-clue-solved-ts">8 hours</span> ago</h4> </div>
            </div>
            <div class="row">
                <div class="col-lg-12 panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-success">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title"> 
                            <div class="row">
                                 <div class="col-xs-1 col-sm-4 col-md-4 col-lg-3">
                                    <span class="hidden-xs">Step #1</span>
                                    <span class="visible-xs-inline">1</span> 
                                 </div>
                                 <div class="col-xs-10 col-sm-8 col-md-8 col-lg-offset-4 col-lg-5">
                                   <span class="header-solved-date">Solved: 24/12/2014 12:23 AM</span>
                               </div>
                             </div> 
                            </h4> 
                             </div>
                         </a>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body"> This is a long clue description about the next location which jaleel will provide </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">  
                                <div class="row">
                                 <div class="col-xs-1 col-sm-4 col-md-4 col-lg-3">
                                    <span class="hidden-xs">Step #2</span>
                                    <span class="visible-xs-inline">2</span> 
                                 </div>
                                 <div class="col-xs-10 col-sm-8 col-md-8 col-lg-offset-4 col-lg-5">
                                   <span class="header-solved-date">Solved: 24/12/2014 12:23 AM</span>
                               </div>
                             </div>
                            </h4> 
                       </div></a>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body"> This is a long clue description about the next location which jaleel will provide </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title">  
                                   <div class="row">
                                 <div class="col-xs-1 col-sm-4 col-md-4 col-lg-3">
                                    <span class="hidden-xs">Step #3</span>
                                    <span class="visible-xs-inline">3</span> 
                                 </div>
                                 <div class="col-xs-10 col-sm-8 col-md-8 col-lg-offset-4 col-lg-5">
                                   <span class="header-solved-date">Solved: 24/12/2014 12:23 AM</span>
                               </div>
                             </div>
                                </h4>
                            </a>
                        </div>
    
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body"> This is a long clue description about the next location which jaleel will provide </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title">  
                                    <div class="row">
                                 <div class="col-xs-1 col-sm-4 col-md-4 col-lg-3">
                                    <span class="hidden-xs">Step #4</span>
                                    <span class="visible-xs-inline">4</span> 
                                 </div>
                                 <div class="col-xs-10 col-sm-8 col-md-8 col-lg-offset-4 col-lg-5">
                                   <span class="header-solved-date">Solved: 24/12/2014 12:23 AM</span>
                               </div>
                             </div>
                                </h4>
                            </a>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body"> This is a long clue description about the next location which jaleel will provide </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Clues section end-->