<!-- Modal -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3> 
    </div>
  <div class="panel-body">
    <form class="form" simple-auth-form auth-action="/authenticate">
      <div class="form-group">
        <label class="form-label col-xs-12 col-sm-12 col-md-3 col-lg-3" for ="userName" >
        User Name
        </label>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <input simple-auth-username class="form-control" name="userName" />
        </div>
      </div>
      <div class="form-group">
        <label class="form-label col-xs-12 col-sm-12 col-md-3 col-lg-3" for ="userName" >
        Password
        </label>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <input type="password" simple-auth-password class="form-control" name="password" />
        </div>
      </div>
      <div class="form-group">
        <button simple-auth-login  type="button" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
  </div>
</div>
