<!-- Modal -->
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="panel panel-primary">
  <div class="panel-body">
    <form class="form form-horizontal" simple-auth-form auth-action="/authenticate">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-offset-4 col-lg-4">
          <div class="hidden-xs hidden-sm center-align">
         <img src="images/sth-logo.png" width="250px" height="250px" />
         </div>
         <div class="visible-xs visible-sm center-align">
         <img src="images/sth-logo.png" width="200px" height="200px" />
         </div>
        </div>
        </div>
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-offset-4 col-lg-4">
          <input placeholder="Enter your email" simple-auth-username  class="form-control" name="userName" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-offset-4 col-lg-4">
          <input type="password" placeholder="Password" simple-auth-password class="form-control" name="password" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-offset-4 col-lg-4">
        <button simple-auth-login  type="button" class="btn btn-primary btn-block btn-lg">Login</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-offset-4 col-lg-4">
         <span>Not yet a privateer?&nbsp;<a href="#/registration">ENLIST!</a></span>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>
</div>
