<!--Feed section this will not change between views-->
<div ng-controller="NewsFeedController" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-primary">
        <ul id="messages-tab" class="nav nav-tabs" role="tablist">
            <li class="active" ng-click="setCurrentTab('PublicChat')">
                <a role="tab" data-toggle="tab">
                NEWS FEED
                </a>
            </li>
            <li ng-click="setCurrentTab('TeamChat')">
                <a role="tab" data-toggle="tab">
                TEAM CHAT
                </a>
            </li>
        </ul>
            <div class="panel-body">
            <div class="post-list" scroller="bottom">
                <div ng-switch on="currentChat" class="tab">
                    <div ng-switch-when="PublicChat" class="tab-item">
                        <div ng-repeat="feed in publicFeeds" class="row feed-post repeat-animation">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                            <a class="link poster-name" ng-bind="feed.poster"></a>
                            <span>-</span><a class="link poster-team" ng-bind="feed.teamName"></a>:&nbsp;
                            <span class="post-text" ng-bind="feed.post"></span>
                                <div class="post-ts" ng-bind="(feed.postTS | moment)"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="TeamChat" class="tab-item">
                        <div ng-repeat="feed in privateFeeds" class="row feed-post repeat-animation">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                            <a class="link poster-name" ng-bind="feed.poster"></a>
                            <span>-</span>
                            <a class="link poster-team" ng-bind="feed.teamName"></a>:&nbsp;
                            <span class="post-text" ng-bind="feed.post"></span>
                                <div class="post-ts" ng-bind="(feed.postTS | moment)"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="post-submit">
                <form class="form" ng-submit="postNewMessage()">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <input ng-model="newMessage.post" type="text" class="form-control" id="formPostInput" placeholder="Enter your post" /> </div>
                    </div>
                </form>
            </div>
            </div>
        
    </div>
</div>
<!--Feed section this will not change between views-->