<div id="registration-content">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Register</h3> </div>
        <div class="panel-body">
        <form name="registrationForm" id="registrationForm" class="form form-horizontal" ng-submit="registrationForm.$valid && invokeRegister()" novalidate>
            <!--Fake inputs to fool chrome-->
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>
            <!--Fake inputs end -->
            <div class="form-group">
                <label class="form-label col-xs-12 col-sm-12 col-md-3 col-lg-offset-3 col-lg-3" for ="fullName"  >
                    Name
                    </label>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="input-group">
                            <input class="form-control" ng-model="newUser.fullName" name="fullName" placeholder="Your screen name" required />
                            <div  class="input-group-addon"><i ng-show="registrationForm.fullName.$valid" class="fa fa-check-square fa-2x correct-field"></i></div>
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label class="form-label col-xs-12 col-sm-12 col-md-3 col-lg-3 col-lg-offset-3" for ="email" >
                    Email address
                    </label>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="input-group">
                            <input ng-model="newUser.email" type="email" class="form-control" name="email" required unique-validator="{property: 'email',url:'/api/unique'}" />
                            <unique-error-message></unique-error-message>
                            <div class="input-group-addon">
                                <i ng-show="registrationForm.email.$valid&&registrationForm.email.$dirty && !registrationForm.email.$error.unique" class="fa fa-check-square fa-2x correct-field"></i>
                            </div>
                        </div>
                    </div>
                    
            </div>
            <div class="form-group">
                <label class="form-label col-xs-12 col-sm-12 col-md-3 col-lg-3 col-lg-offset-3" for ="phone" >
                    Phone number
                    </label>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="input-group"> 
                            <input ng-model="newUser.phone" type="number" class="form-control" name="phone" required ng-maxlength="10" ng-minlength="10" />
                            <div class="input-group-addon">
                                <i ng-show="registrationForm.phone.$valid" class="fa fa-check-square fa-2x correct-field"></i>
                            </div>
                        </div>
                    </div>
                   
            </div>
            <div class="form-group">
                <label class="form-label col-xs-12 col-sm-12 col-md-3 col-lg-3 col-lg-offset-3" for ="password" >
                    Password
                    </label>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="input-group"> 
                            <input check-password show-password="registration.checkPasswordToggle" ng-model="newUser.password" type="password" class="form-control" name="password" required ng-minlength="8" />
                            <div ng-click="togglePasswordField()" class="input-group-addon"> 
                            <i ng-class="{'fa':true, 'fa-eye':true, 'fa-2x':true,'active-eye-icon':registration.checkPasswordToggle}"></i>
                            </div>
                            <div class="input-group-addon">
                                <i ng-show="registrationForm.password.$valid" class="fa fa-check-square fa-2x correct-field"></i>
                            </div>
                    </div>
                    </div>
            </div>
            <div class="form-group">
                <label class="form-label col-xs-12 col-sm-12 col-md-3 col-lg-3 col-lg-offset-3" for ="teamSelect" >
                    Select your team
                </label>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6">
                    <select ng-change="checkAddNewTeamToggle()" ng-options="team.teamName as team.teamName for team in teams" class="form-control" name="teamSelect" ng-model="newUser.existingTeamName">
                    <option value="">Please select</option>
                    </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6">
                     <input ng-show="registration.isNewTeamSelected" type="text" class="inline-input-height-adjust" ng-model="newUser.newTeamName" />
                </div>
                </div>
                </div>
                     
            </div>
            <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-lg-offset-3"> 
                    <button class="btn btn-primary btn-block" >Register</button>
                    </div>
            </div>
            
        </form>
        </div>
        </div>
    </div>

</div>