<div id="team-content" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="panel panel-warning">
        <div class="panel-heading orange-bg">
            <h3 class="panel-title team-name">Bucaneers</h3> </div>
        <div class="panel-body">
            <div class="team-member-info-list">
                <div class="row team-member-info">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2"> <img src="javascripts/vendor/holder/holder.js/100x100/auto/textmode:exact" class="img-thumbnail" /> </div>
                    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
                        <div class="row member-name">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h4><a href="#">Bruce Wayne</a></h4> </div>
                        </div>
                        <div class="row member-details">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 member-email"> <a target="_blank" href="mailto:rahulravindran2709@gmail.com">rahulravindran2709@gmail.com</a> </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 member-phone"> <a href="tel:8106927474">8106927474</a> </div>
                        </div>
                        <div class="row member-social-media">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a class="member-social-media-icon member-facebook"><i class="fa fa-facebook fa-2x"></i></a> <a class="member-social-media-icon member-twitter"><i class="fa fa-twitter fa-2x"></i></a> <a class="member-social-media-icon member-google-plus"><i class="fa fa-google-plus fa-2x"></i></a> </div>
                        </div>
                    </div>
                </div>
                <div class="row team-member-info">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2"> 
                        <img src="javascripts/vendor/holder/holder.js/100x100/auto/textmode:exact" class="img-thumbnail" /> 
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
                        <div class="row member-name">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h4><a href="#">Rahul Ravindran</a></h4> 
                            </div>
                        </div>
                        <div class="row member-details">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 member-email"> <a target="_blank" href="mailto:rahulravindran2709@gmail.com">rahulravindran2709@gmail.com</a> </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 member-phone"> <a href="tel:8106927474">8106927474</a> </div>
                        </div>
                        <div class="row member-social-media">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
                                <a class="member-social-media-icon member-facebook">
                                    <i class="fa fa-facebook fa-2x"></i>
                                </a> 
                                <a class="member-social-media-icon member-twitter">
                                    <i class="fa fa-twitter fa-2x"></i>
                                </a> 
                                <a class="member-social-media-icon member-google-plus">
                                    <i class="fa fa-google-plus fa-2x"></i>
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row team-member-info">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2"> 
                        <img src="javascripts/vendor/holder/holder.js/100x100/auto/textmode:exact" class="img-thumbnail" /> 
                    </div>
                    <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
                        <div class="row member-name">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h4>Abdul Jaleel</h4> 
                            </div>
                        </div>
                        <div class="row member-details">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 member-email"> <a target="_blank" href="mailto:rahulravindran2709@gmail.com">rahulravindran2709@gmail.com</a> </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 member-phone"> <a href="tel:8106927474">8106927474</a> </div>
                        </div>
                        <div class="row member-social-media">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a class="member-social-media-icon member-facebook"><i class="fa fa-facebook fa-2x"></i></a> <a class="member-social-media-icon member-twitter"><i class="fa fa-twitter fa-2x"></i></a> <a class="member-social-media-icon member-google-plus"><i class="fa fa-google-plus fa-2x"></i></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>